// Fonts
// @import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
// FA5
@import "~@fortawesome/fontawesome-free/css/all.min.css";

// Pretty checkbox
@import "~pretty-checkbox/src/pretty-checkbox.scss";

table {
    tbody {
        tr {
            td {
                user-select: none;
                cursor: pointer;
            }
        }
    }
}
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.table-fixed tbody {
    height: 400px;
    overflow-y: auto;
    width: 100%;
}

/*
 *  STYLE 7
 */

.diagnostic-content::-webkit-scrollbar-track,
.table-fixed tbody::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
    //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #8cc1d1;
    border-radius: 3px;
}

.diagnostic-content::-webkit-scrollbar,
.table-fixed tbody::-webkit-scrollbar,
::-webkit-scrollbar {
    width: 10px;
    background-color: #a3bee2;
}

.diagnostic-content::-webkit-scrollbar-thumb,
.table-fixed tbody::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.44, #8fcfdc),
        color-stop(0.72, #87d9db),
        color-stop(0.86, #85dbd9)
    );
    cursor: pointer;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
    float: left;
    position: relative;

    &::after {
        content: "";
        clear: both;
        display: block;
    }
}

.table-fixed tbody tr.selected {
    th,
    td {
        background: #86ceda;
        font-size: 1.4em;
        font-weight: 700;
    }
}

.table-fixed tbody tr {
    th,
    td {
        border-top: none;
        border-bottom: 1px solid #a6baea6e;
        color: #495057;
        font-size: 1.35em;
        transition: all 0.3s ease-in-out;
    }
    th {
        text-align: center;
    }
    &:hover {
        td,
        th {
            background: #8fc5d766;
            font-size: 1.4em;
            font-weight: 700;
        }
        .pretty .state label:before {
            border-color: #5cb85c;
        }
    }
}

.card {
    background: #92cedd3d;
    border: none;
    box-shadow: 5px 15px 20px 0px rgba(0, 0, 0, 0.4);

    .card-header {
        font-size: 1.5em;
        text-align: center;
        user-select: none;
    }
    .card-body {
        .delete-all-btn {
            text-align: right;
            margin-bottom: 10px;
            margin-right: 10px;
            a {
                padding: 3px 7px;
                transition: all 0.3s ease-in-out;
                &:hover {
                    border: 1px solid #1d68a7;
                    border-radius: 4px;
                    text-decoration: none;
                }
            }
        }
    }
}

.diagnostic-box {
    .card {
        .card-body {
            .diagnostic-content {
                height: 430px;
                overflow-y: auto;
                width: 100%;
                padding: 15px;
                .diagnostic-content-info {
                    margin-top: 25%;
                    text-align: center;
                    font-size: 1.5em;
                    color: #49505b;
                    i {
                        font-size: 4em;
                    }
                }
                .item {
                    font-size: 1.25em;
                    span {
                        color: red;
                        margin-right: 10px;
                        i {
                            filter: drop-shadow(0px 2px 2px rgb(243, 46, 46));
                        }
                    }
                }
            }
        }
    }
}
.table {
    margin: 0;
}
.pretty .state label:before {
    border-color: #7fd5d2;
    transition: all 0.3s ease-in-out;
}

.explain-container {
    text-align: center;
    margin-top: 30px;
    a {
        color: #618ca0;
        font-variant: small-caps;
        font-weight: 900;
        font-size: 1.5em;
        width: 100%;
        height: 100%;
        padding: 7px 0px;
        display: inline-block;
        border-radius: 5px;
        border: 2px solid #618ca0;
        
        i {
            transition: all .55s ease-out;
        }
    }
    .explain-content {
        display: none;
        height: 500px;
        border: 1px solid #618ca0da;
        background: rgba(240, 255, 255, 0.4);
        border-radius: 7px;
        box-shadow: inset 0px 0px 13px 1px rgba(#618ca0, 0.4);
    }
}
/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

body {
    background: #74ebd5;
    background: -webkit-linear-gradient(to right, #74ebd5, #acb6e5);
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    min-height: 100vh;
}
