// Fonts
@import "nunito";

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
// FA5
// $fa-font-path: "../webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";

// Pretty checkbox
@import "~pretty-checkbox/src/pretty-checkbox.scss";

table {
    tbody {
        tr {
            td {
                user-select: none;
                cursor: pointer;
            }
        }
    }
}
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.table-fixed tbody {
    height: 400px;
    overflow-y: auto;
    width: 100%;
}

/*
 *  STYLE 7
 */

.diagnostic-content::-webkit-scrollbar-track,
.table-fixed tbody::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
    //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    //background-color: #8cc1d1;
    background-color: #78b5dcd9;
    border-radius: 3px;
}

.diagnostic-content::-webkit-scrollbar,
.table-fixed tbody::-webkit-scrollbar,
::-webkit-scrollbar {
    width: 10px;
    //background-color: #a3bee2;
    background-color: #cfddf3;
}

.diagnostic-content::-webkit-scrollbar-thumb,
.table-fixed tbody::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    // background-image: -webkit-gradient(
    //     linear,
    //     left bottom,
    //     left top,
    //     color-stop(0.44, #8fcfdc),
    //     color-stop(0.72, #87d9db),
    //     color-stop(0.86, #85dbd9)
    // );
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.44, #3490dcb8),
        color-stop(0.72, #4291f5de),
        color-stop(0.86, #3e8cecd6)
    );
    cursor: pointer;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
    float: left;
    position: relative;

    &::after {
        content: "";
        clear: both;
        display: block;
    }
}

.table-fixed tbody tr.selected {
    th,
    td {
        //background: #86ceda;
        background: #91cff1ba;
        font-size: 1.4em;
        font-weight: 700;
    }
}

.table-fixed tbody tr {
    th,
    td {
        border-top: none;
        border-bottom: 1px solid #a6baea6e;
        color: #495057;
        font-size: 1.35em;
        transition: all 0.3s ease-in-out;
    }
    th {
        text-align: center;
        border-top-left-radius: 4px;
    }
    &:hover {
        td,
        th {
            //background: #8fc5d766;
            background: #69b8e2cc;
            font-size: 1.4em;
            font-weight: 700;
        }
        .pretty .state label:before {
            border-color: #5cb85c;
        }
    }
}

.card {
    //background: #92cedd3d;
    background: #ffffffcf;
    border: none;
    box-shadow: 5px 15px 20px 0px rgba(0, 0, 0, 0.4);

    .card-header {
        font-size: 1.5em;
        text-align: center;
        user-select: none;
    }
    .card-body {
        .delete-all-btn {
            text-align: right;
            margin-bottom: 10px;
            margin-right: 10px;
            a {
                padding: 3px 7px;
                transition: all 0.3s ease-in-out;
                &:hover {
                    border: 1px solid #1d68a7;
                    border-radius: 4px;
                    text-decoration: none;
                }
            }
        }
    }
}

.diagnostic-box {
    .card {
        .card-body {
            .diagnostic-content {
                height: 430px;
                overflow-y: auto;
                width: 100%;
                padding: 15px;
                .diagnostic-content-info {
                    margin-top: 25%;
                    text-align: center;
                    font-size: 1.5em;
                    color: #49505b;
                    i {
                        font-size: 4em;
                    }
                    i.fa-tada {
                        transform-origin: center;
                        animation: tada 1.5s infinite;
                        -moz-animation: tada 1.5s infinite;
                        -webkit-animation: tada 1.5s infinite;
                        -o-animation: tada 1.5s infinite;
                    }
                    @keyframes tada {
                        0% {
                            transform: rotate(0deg);
                            opacity: 1;
                        }
                        1% {
                            transform: rotate(2deg);
                            opacity: 0.02;
                            color: #49505b;
                        }
                        2% {
                            transform: rotate(4deg);
                            opacity: 0.04;
                        }
                        3% {
                            transform: rotate(6deg);
                            opacity: 0.06;
                        }
                        5% {
                            transform: rotate(10deg);
                            opacity: 0.1;
                        }
                        10% {
                            transform: rotate(20deg);
                            opacity: 0.2;
                        }
                        15% {
                            transform: rotate(30deg);
                            opacity: 0.3;
                        }
                        20% {
                            transform: rotate(40deg);
                            opacity: 0.4;
                        }
                        25% {
                            transform: rotate(50deg);
                            opacity: 0.5;
                        }
                        30% {
                            transform: rotate(60deg);
                            opacity: 0.6;
                        }
                        35% {
                            transform: rotate(70deg);
                            opacity: 0.7;
                        }
                        40% {
                            transform: rotate(80deg);
                            opacity: 0.8;
                        }
                        45% {
                            transform: rotate(90deg);
                            opacity: 0.9;
                        }
                        50% {
                            transform: rotate(100deg);
                            opacity: 1;
                        }
                        55% {
                            transform: rotate(90deg);
                            opacity: 0.9;
                        }
                        60% {
                            transform: rotate(80deg);
                            opacity: 0.8;
                        }
                        65% {
                            transform: rotate(70deg);
                            opacity: 0.7;
                        }
                        70% {
                            transform: rotate(60deg);
                            opacity: 0.6;
                        }
                        75% {
                            transform: rotate(50deg);
                            opacity: 0.5;
                        }
                        80% {
                            transform: rotate(40deg);
                            opacity: 0.4;
                        }
                        85% {
                            transform: rotate(30deg);
                            opacity: 0.3;
                        }
                        90% {
                            transform: rotate(20deg);
                            opacity: 0.2;
                        }
                        95% {
                            transform: rotate(10deg);
                            opacity: 0.1;
                        }
                        97% {
                            transform: rotate(6deg);
                            opacity: 0.06;
                        }
                        98% {
                            transform: rotate(4deg);
                            opacity: 0.04;
                        }
                        99% {
                            transform: rotate(2deg);
                            opacity: 0.02;
                        }
                        100% {
                            transform: rotate(0deg);
                            opacity: 1;
                        }
                    }
                }
                .item {
                    font-size: 1.25em;
                    span {
                        color: red;
                        margin-right: 10px;
                        i {
                            filter: drop-shadow(0px 2px 2px rgb(243, 46, 46));
                        }
                    }
                }
            }
        }
    }
}
.table {
    margin: 0;
}
.pretty .state label:before {
    border-color: #7fd5d2;
    transition: all 0.3s ease-in-out;
}

.explain-container {
    margin-top: 30px;
    a {
        //color: #d4d4d4;
        color: #4f5057;
        font-variant: small-caps;
        font-weight: 900;
        font-size: 1.5em;
        width: 100%;
        height: 100%;
        padding: 7px 0px;
        display: inline-block;
        //border: 2px solid #d4d4d4;
        text-align: center;
        transition: all 0.3s ease-out;
        background: #ffffffe8;
        i {
            transition: all 0.55s ease-out;
        }
        &:hover {
            color: #ffffff;
            background: rgb(4, 41, 165);
            box-shadow: 5px 7px 20px 0px rgba(255, 255, 255, 0.4);
            margin-left: 3px;
            margin-top: 5px;
            //border-width: 3px;
            //border-color: #e2e2e2;
            //border-radius: 5px;
            //border-style: solid;
        }
    }
    .explain-content {
        display: none;
        height: 500px;
        border: 1px solid #618ca0da;
        //background: rgba(240, 255, 255, 0.7);
        background: #ffffffcf;
        border-radius: 7px;
        box-shadow: inset 0px 0px 13px 1px rgba(#618ca0, 0.4);
        overflow-y: auto;
        .explain-content-block {
            font-size: 1.5em;
            border-bottom: 1px solid #86dada;
            padding-top: 15px;
            ul {
                margin-left: 30px;
                list-style: none;
                li {
                    ul.conclude-explain {
                        list-style: circle;
                    }
                    span {
                        position: relative;
                    }
                    i.fa-share {
                        position: absolute;
                        font-size: 1.25em;
                        top: 1px;
                        left: 15px;
                        transform: rotateX(180deg);
                    }
                }
            }
            p {
                //background: #bfdcedc9;
                // background-image: linear-gradient(
                //     to right,
                //     #a1dede 30%,
                //     #a1dede 30%,
                //     #b3cfe2 40%
                // );
                background-image: linear-gradient(
                    to right,
                    #b6d2e4 15%,
                    #7ec0ea 40%,
                    #b3cfe2 80%
                );
                padding: 5px 15px;
            }
        }
    }
}
/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

body {
    //background: #74ebd5;
    //background: -webkit-linear-gradient(to right, #74ebd5, #acb6e5);
    //background: linear-gradient(to right, #74ebd5, #acb6e5);
    background: url(../../public/img/bg2.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
}

/*
*
* =============================================
* LOADING SCREEN
* =============================================
*
*/

@mixin obj($w, $h, $bg) {
    width: $w;
    height: $h;
    background: $bg;
}

@mixin anim($listName, $delay) {
    @each $currentBox in $listName {
        $i: index($listName, $currentBox);
        &:nth-child(#{$currentBox}) {
            animation-delay: 0.1s * $i + $delay;
        }
    }
}

body {
    position: relative;
}

.loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    // background: #212121;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    .wrapper {
        @include obj(auto, auto, null);
        .animate {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            margin: auto;
            /* 	width: 350px; */
            animation: load 0.85s infinite 0s ease-in-out;
            animation-direction: alternate;
            color: beige;
            text-shadow: 0 0 1px white;
            font-size: 2em;
            font-variant: small-caps;
            padding-top: 35px;
        }
        ul {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            animation: rot 16s linear infinite;
            list-style: none;
            @keyframes rot {
                100% {
                    transform: rotate(360deg);
                }
            }
            li {
                @include obj(40px, 40px, #651fff);
                border-radius: 4px;
                box-shadow: 0 0 1px #fff, 0 0 5px #651fff, 0 0 10px #651fff,
                    0 0 15px #651fff, 0 0 25px #651fff, 0 0 55px #651fff;
                animation: scale 0.8s linear alternate infinite;

                @keyframes scale {
                    100% {
                        transform: scale(0.1);
                        opacity: 0;
                    }
                }
                @for $i from 1 through 25 {
                    &:nth-child(#{$i}) {
                        z-index: 25 - $i;
                    }
                }
                @for $i from 1 through 5 {
                    &:nth-child(#{$i}) {
                        animation-delay: 0.1s * $i;
                    }
                    &:nth-child(#{$i + 6}) {
                        @if ($i<5) {
                            animation-delay: 0.1s * $i + 0.2s;
                        }
                    }
                    &:nth-child(#{$i + 12}) {
                        @if ($i<4) {
                            animation-delay: 0.1s * $i + 0.4s;
                        }
                    }
                    &:nth-child(#{$i + 18}) {
                        @if ($i<3) {
                            animation-delay: 0.1s * $i + 0.6s;
                        }
                    }
                    &:nth-child(#{$i + 23}) {
                        @if ($i<2) {
                            animation-delay: 0.1s * $i + 0.8s;
                        }
                    }
                }

                $fCol: 1 6 11 16 21;
                @include anim($fCol, 0);

                $sCol: 7 12 17 22;
                @include anim($sCol, 0.2s);

                $tCol: 13 18 23;
                @include anim($tCol, 0.4s);

                $foCol: 19 24;
                @include anim($foCol, 0.6s);

                &:nth-child(25) {
                    animation-delay: 0.9s;
                }
            }
        }
    }
}

@keyframes load {
    0% {
        opacity: 0.08;
        /*         font-size: 10px; */
        /* 				font-weight: 400; */
        filter: blur(5px);
        letter-spacing: 3px;
    }
    100% {
        /*         opacity: 1; */
        /*         font-size: 12px; */
        /* 				font-weight:600; */
        /* 				filter: blur(0); */
    }
}

/*
*
* =============================================
* END LOADING SCREEN
* =============================================
*
*/
